@import"https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

* { 
    box-sizing: border-box;
}
.description
{
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.5);
}
html, body
{
    padding: 0; margin: 0;   
}
body {
    background-color: black;
    color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
}
a
{
    color: white;
    text-decoration: underline;
}
a:hover
{
    text-decoration: none;
    color: rgb(42, 145, 255);
}
p
{
    font-size: 0.8em;
}
hr
{
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.185);
    margin: 50px 0;
}
::selection
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
::-webkit-scrollbar
{
    background-color: rgba(255, 255, 255, 0.185);
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-thumb
{
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover
{
    background-color: rgb(255, 255, 255);
}
blockquote
{
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, .15);
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    margin: 2rem 0;
}
h1:not(:only-of-type), h2:not(:only-of-type), h3:not(:only-of-type), h4:not(:only-of-type), h5:not(:only-of-type), h6:not(:only-of-type)
{
    margin: 0;
    border-left: 3px solid rgb(49, 49, 49); padding: 0 15px;
}

.title
{
    font-size: 3rem;
    margin: 0;
}

section.body
{
    padding: 15px;max-width: 350px; margin: 0 auto;
}
mark
{
    background: white;
    color: black;
}

.sliding-card-carousel
{
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    display: flex;
    height: 300px;
    width: 100%;
    gap: 15px;
    padding-block: 15px;
}
.sliding-card-carousel .card
{
    scroll-snap-align: start;
    border: 1px solid;
    border-radius: 0;
    min-width: 300px; 
    max-width: 300px;
    height: 100%;
    padding: 25px;
}
.sliding-card-carousel .card:hover
{
    background-color: white;
    color: black;
}

.flex
{
    display: flex;
}
.row
{
    flex-direction: row;
}
.space-between
{
    justify-content: space-between;
}
